<div class="col-lg-6 mx-auto">
  <div class="logo mb-3 text-center">
    <%= @farm.name %>
  </div>
</div>
<div class="col-lg-6 mx-auto">
  <div class="logo mb-3 text-center">
    <%= @farm.description %>
  </div>
</div>