<div class="title">
    <h1><%= @farm.name %></h1>
</div>
<div>
  <div class="description">
    <%= @farm.description %>
</div>
<div>
  <div>
    <%= @farm.event %>
  </div>
</div>
<div>
  <%= image_tag @farm.image_url, :size =>'320x320' %>
</div>